*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body, html {
  background-color: #000;
  color: #fff;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}
canvas {
  position:absolute;
  top:0;
  left:0
}

:root{
  --border: #00d9ff;
  --avt-size: 100px;
}

.main{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: center;
  overflow-y: scroll;

}


.container{
  display: flex;
  padding-bottom: 50px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  flex-direction: column;
  justify-items: center;
  width: 300px;
  background-color: transparent;
  border-radius: 20px;
  z-index: 99;
}
.center{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
}
.avt{
  width: var(--avt-size);
  height: var(--avt-size);
  margin-top: 20px;
  

}
.avt img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
 
}
.avt img{
  box-shadow: 0 0 15px rgb(59, 59, 255);
  animation: box_avt 2s linear infinite;
}
@keyframes box_avt{
  0%{
    box-shadow: 0 0 15px rgb(59, 59, 255);
  }
  20%{
    box-shadow: 0 0 15px rgb(35, 229, 255);
  }
  40%{
    box-shadow: 0 0 15px rgb(27, 255, 149);
  }
  60%{
    box-shadow: 0 0 15px rgb(48, 255, 58);
  }
  80%{
    box-shadow: 0 0 15px rgb(252, 255, 59);
  }
  100%{
    box-shadow: 0 0 15px rgb(255, 59, 59);
  }
}

.name{
  display: flex;
  position: relative;
  margin-top: 25px;
  font-size: 25px;
  font-weight: 900;
  background-image: linear-gradient(
    135deg,
    #0400ff 0%,
    #00d9ff 20%,
    #ff0000 40%,
    #e5ff00 60%,
    #2bff00 80%,
    #0400ff 100%);
    text-shadow:  0 0 40px #a200ff;
  background-size: 200% auto;
  color: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
}
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.row{
  display: flex;
  flex-direction: row;
}

.icon{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
  justify-content: center;
}

.icon img{
  width: 65px;
  height: auto;
  margin: 10px;
  border-radius: 50%;
}

.icon a:hover > img {
  filter:  drop-shadow(0px 0px 3px #ffffff);
}

.display{
  display: flex;
  position: relative;
  z-index: 999;
  width: 300px ;
  min-height: 80px;
}



.photo-music{
  position: absolute;
  width: 40%;
  height: 100%;
}

#img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.text{
  position: relative;
  top: 5px;
  left: 45%;
  height: 25px;
  display: flex;
  max-width: 160px;
  overflow: hidden;
  white-space: nowrap;
}

.name-music {
  min-width: 90px;
  padding-right: 20px;
  display: block;
  font-size: 20px;
}

.text-box{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
}

.move{
    animation: move 4s linear infinite;
 }
 
@keyframes move {
  from {  transform: translateX(0%); }
  to {  transform: translateX(-50%); }
}


.singer-name{
  display: block;
  position: absolute;
  bottom: 5px;
  right: 0%;
  width: 160px;
  font-size: 14px;
}

.player{
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  
}
#pause-btn {
  display: none;
}

.control-btn{
  width: 20px;
  border-radius: 50%;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  margin: 0 5px;
  cursor: pointer;
  background-color: orange;
}

.control-btn.big{
  padding: 15px;

}

.control-btn:active{
  background-color: #ffbe44;
}
